@import "tailwindcss";

@theme default {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

    // Custom colors
  --color-background: #e5e5e5;
  --color-foreground: #000000;
  --color-bg-card: #134987;
  --text-h1: 10rem;
}
