@import "tailwindcss";
@import "@/styles/base.css";
@import "@/styles/components.css";
@import "@/styles/utilities.css";
@import "@/styles/custombase.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-background: #f2f2f2;
  --color-chestnut: #973f29;
  --color-primary: #1ed784;
  --text-main: min(10vw,5rem);
  --text-secondary: 3rem;
  --text-tertiary: 2rem;
  --spacing-small: 1rem;
}


