@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import '@/styles/fonts.css';
@import '@/styles/base.css';
@import '@/styles/components.css';
@import '@/styles/utilities.css';
@import '@/styles/custombase.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #000000;
    --color-dark: #000000;
    --color-primary: #33b401;
    --spacing-small: 1rem;
    --text-small: 0.625rem;
    --text-medium: 2rem;
    --font-anybody: 'Anybody', sans-serif;
}
